body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*custom font families ^*/

header {
    background-color: #0d0d0d;
    padding: 15px;
}
/*custom color^*/

.logo {
    max-height: 50px;
    width:auto;
}
header ul {
    float: right;
    color: white;
}
header li {
    display: inline-block;
    padding: 0px 5px;
}
header p {
    display: inline-block;
}
.heroImg {
    background-color: #dbdbdb;
    padding: 50px 15px;
}
/*custom  background color^*/

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "copy right";
    grid-gap: 40px;
}
/*custom grid^*/

.copy {
    grid-area: copy;
    text-align: left;
}
/*reclassified paragraph copy^*/

.content h1 {
    text-align: left;
    font-size: 40px;
}
.content h2 {
    text-align: left;
    font-size: 30px;
}
/*customized heading text sizes^*/

.headshot {
    max-height: 300px;
    width: auto;
}
/*customized picture size^*/

.right {
    grid-area: right;
    text-align: center;
}
/*custom defined grid area^*/

button {
    padding: 15px;
    background-color: #72CEC1;
    color: #0d0d0d;
    font-size: 15px;
    border-radius: 10px;
}
/*custom button color and radius^*/


.mySkills h1 {
    font-size: 40px;
}
.mySkills {
    background-color: #0d0d0d;
    color: white;
    padding: 50px 30px 0px 30px;
    text-align: start;
}
.skillsHeader {
    margin: 0 auto;
    padding: 50px 0px 0px 0px;
    max-width: 900px;

}
.flexContainer {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding: 0px;
}
.mySkills h3 {

    font-size: 20px;
}
.flexChildren {
    width: 33%;
    padding: 15px;
    margin: 0 auto;
    text-align: left;

}
/*^UX Skills section coded using CSS flex*/

#research {
    padding: 10px;
    background-image: url("../Images/Skills/Research.png");
    background-position: right;
    background-repeat: no-repeat;
}

#empathy {
    padding: 10px;
    background-image: url("../Images/Skills/Empathy.png");
    background-position: right;
    background-repeat: no-repeat;
}
#qual {
    padding: 10px;
    background-image: url("../Images/Skills/Interviews.png");
    background-position: right;
    background-repeat: no-repeat;
}
.tools {
    text-align: left;
    margin: 0 auto;
    padding: 0px 100px 0px 0px;
    max-width: 900px;
}
footer {
    background-color: #0d0d0d;
    padding: 5px;
    color: white;
}
/*custom footer background color^*/

footer ul {
    list-style: none;
    padding-left: 5px;
}
footer li {
    display: inline-block;
    padding: 0px 7px;
}